[Service]
Type=notify-reload
ExecStart=procroll run --debug -- podman run --rm=true --name=procroll-example-{{.PID}}-{{.Generation}} localhost/podman-systemd-example:latest
